@import '../../media.scss';

.hours-card{
	width: 95%;
	padding: 1%;	
	@include conf-card;
}

.hour-card{
	height: 25%;
	width: 12%;
	margin-right: 0.5%;
	margin-top: 2%;
	background-color: #eaf0f7;
    border: 5px solid;
    border-color: #2d87be;
    border-radius: 10px;
	font-size: 24px;
	@include inline-block;
	
	@include HD {
       font-size: 16px;
    }
}

.title-hour-card{
	font-size: 30px;
    color: #f8f9fa;
    background-color: #2d87be;
	
	@include HD {
       font-size: 20px;
    }
}