@import '../../media.scss';

.main-menu{
	height: 9%;
	background-color: #0080cd;
	margin: 2% 0% 2% 0%;
	color: #fff;
}

.menu-item{
	height: 100%;
    width: 25%;
	font-size: 40px;
	padding: 1% 0% 1% 0%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	
	@include HD {
       font-size: 27px;
    }
}

.focus-menu{
	background-color: #2b496a;
}