@import '../../media.scss';

.container-menus{
	margin: 2% 0% 2% 0%;
}

.main-menu{
	height: 9%;
	background-color: #0080cd;
	color: #fff;
}

.menu-item{
	height: 100%;
    width: 25%;
	font-size: 40px;
	padding: 1% 0% 1% 0%;
	@include inline-block;
	
	@include HD {
       font-size: 27px;
    }
}

.focus-menu{
	background-color: #2b496a;
}

.sub-menu{
	height: 80px;
	background: #e5bb3c;
	color: #fff;
	
	@include HD {
       height: 53px;
    }
}

.submenu-item{
	height: 100%;
    width: 20%;
	font-size: 35px;
	padding: 0.5% 0% 0.5% 0%;
	@include inline-block;
	
	@include HD {
       font-size: 27px;
    }
}

.focus-submenu{
	background-color: #a78008;
}