@import '../../media.scss';

.region-card{
	width: 80%;
	padding: 2%;
	@include conf-card;
}

.region-image{
	height: 100%;
	width: 53%;
}

.region-text{
	width: 47%;
	height: 100%;
	font-size: 33px;
	padding-left: 3%;
	
	@include inline-block {
		text-align: justify;
	}
	
	@include HD {
       font-size: 22px;
    }
}