@import '../../media.scss';

.days-card{
	margin: auto;
	margin-top: 6%;
	width: 95%;
	height: 55%;
	padding: 1%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 0 0 #868789;
	color: #707070;
}

.day-card{
	height: 95%;
	width: 13.7%;
	display: inline-block;
	vertical-align: top;
	margin: 0.8% 0.25% 0 0.3%;
	font-size: 32px;
	text-align: center;
	border: 5px solid;
	border-color: #6281a2;
	border-radius: 10px;
	
	@include HD {
       font-size: 21px;
    }
}

.day-icon{
	width: 80%;
}

.title-day-card{
	font-size: 38px;
	
	@include HD {
       font-size: 25px;
    }
}