@import '../../media.scss';

.days-card{
	width: 95%;
	padding: 1%;
	@include conf-card;
}

.day-card{
	height: 95%;
	width: 13.7%;
	margin: 0.8% 0.25% 0 0.3%;
	font-size: 32px;
	border: 5px solid;
	border-color: #6281a2;
	border-radius: 10px;
	@include inline-block;
	
	@include HD {
       font-size: 21px;
    }
}

.day-icon{
	width: 80%;
}

.title-day-card{
	font-size: 38px;
	
	@include HD {
       font-size: 25px;
    }
}